.pt-5 {
  padding-top: 5px;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  margin-bottom: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.custom-toggler.navbar-toggler {
  border-color: white;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.div-menu-home {
  padding-top: 5px;
}
.div-menu-page {
  padding-top: 5px;
}
.div-menu-class {
  padding-top: 5px;
}
.div-menu-portfolio {
  padding-top: 5px;
}
.div-menu-blog {
  padding-top: 5px;
}
.div-menu-contact {
  padding-top: 5px;
}
.menu-home {
  color: white;
  text-decoration: none;
  padding-left: 38px;
}
.combo-icon {
  padding-left: 78px;
}
.navbar-collapse .nav-link {
  color: white !important;
  text-decoration: none !important;
  text-align: right;
}
.nav-width {
  width: 62%;
}
.margin-nav {
  padding-left: 20px;
}
.nav-li-1 {
  padding-left: 63px;
}
.nav-li-2 {
  padding-left: 35px;
}
.nav-li-3 {
  padding-left: 35px;
}
.nav-li-4 {
  padding-left: 39px;
}
.nav-li-5 {
  padding-left: 36px;
}
.nav-li-6 {
  padding-left: 35px;
}
.menu-page {
  color: white;
  text-decoration: none;
  padding-left: 51px;
  padding-top: 5px;
}
.menu-class {
  color: white;
  text-decoration: none;
  padding-left: 52px;
  padding-top: 5px;
}
.menu-portfolio {
  color: white;
  text-decoration: none;
  padding-left: 55px;
  padding-top: 5px;
}
.menu-blog {
  color: white;
  text-decoration: none;
  padding-left: 51px;
  padding-top: 5px;
}
.menu-contact {
  color: white;
  text-decoration: none;
  padding-left: 51px;
  padding-top: 5px;
}
.icon-searching {
  padding-left: 24px;
  padding-top: 4px;
}
.icon-cart {
  padding-left: 13px;
  padding-top: 4px;
}
.icon-user {
  padding-left: 11px;
  padding-top: 4px;
}
.div-nav {
  width: 61% !important;
}
.nav-bar {
  width: 100% !important;
}
.bg-img {
  height: 100vh;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
}
.icon {
  color: white;
}
.girly {
  position: absolute;
}
.dumbblell {
  color: white;
  padding-top: 193px;
  padding-left: 68px;
  font-size: 60px;
  font-family: "Poppins";
  font-weight: bold;
}
.best_body {
  color: white;
  font-size: 40px;
  font-family: "Poppins";
  font-weight: bold;
  margin-top: -24px;
  padding-left: 69px;
}
.text {
  color: white;
  font-size: 14px;
  font-family: "Poppins";
  padding-top: 6px;
  padding-left: 70px;
}
.edit-text {
  margin-top: -16px;
}
.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 12px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 2px;
  cursor: pointer;
}
.edit-button {
  padding-top: 13px;
  padding-left: 68px;
}
.image-girl {
  padding-left: 243px;
  padding-top: 40px;
}
.fix-pic1 {
  padding-left: 19px;
}
.fix-pic3 {
  padding-left: 19px;
}
.fix-font-1 {
  font-weight: 600;
  padding-top: 25px !important;
  font-size: 18px;
}
.fix-font-2 {
  font-weight: 600;
  padding-left: 35px !important;
  font-size: 18px;
  margin-top: 18px;
}
.fix-font-3 {
  font-weight: 600;
  font-size: 18px;
  margin-top: 16px;
}
.text-fix {
  font-size: 14px;
  padding-right: 1px;
}
.text-fix2 {
  font-size: 14px;
  padding-top: 0px;
  padding-left: 38px;
}
.text-fix3 {
  font-size: 14px;
}
.gridicon2 {
  padding-left: 34px;
  padding-top: 25px;
}
.gridicon3 {
  padding-top: 13px;
}
.padding-pixel {
  padding-top: 50px;
}
.slider123 {
  padding-top: 50px;
}
.slider123 .slick-arrow {
  display: none !important;
}
.slider123 .slick-dots {
  position: relative;
}
.padding-pixel1 {
  margin-top: 25px;
}
.padding-pixel2 {
  padding-top: 30px;
}
.text-image {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 390px;
  font-family: "Poppins", sans-serif;
}
.banner {
  position: relative;
  background: url("../image/banner_01.gif");
  min-height: 950px;
  font-family: "Poppins", sans-serif;
}
.gallery {
  margin-top: -79px;
  position: relative;
  z-index: 2;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  width: fit-content;
  width: -moz-fit-content;
}
.tag a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.tag a:hover {
  color: red;
  border-bottom: 3px solid red;
}
.icon_click {
  text-decoration: none;
  color: gray;
  width: fit-content;
}
.icon_click:hover {
  color: white;
  background-color: red;
}
.product-menu {
  display: none;
  flex-direction: column;
  gap: 8px;
}
.product:hover {
  z-index: 5;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.product:hover .product-menu {
  display: flex;
}
.text-product {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.money {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text-introduce {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.brand {
  margin-top: 80px;
}
.text-introduct-1 {
  color: grey;
}
.text-introduct-2 {
  font-weight: 700;
}
.text-introduct-3 {
  color: grey;
  font-size: 12px;
}
.slick-dots li.slick-active button:before {
  color: red !important;
  font-size: 12px;
}
.text-color {
  color: grey;
}
.icon-social {
  color: grey;
}
.footer-hr {
  color: grey;
}
.footer {
  color: grey;
}
.footer-tittle {
  color: white;
  font-weight: 600;
}
.footer-a {
  text-decoration: none;
  color: grey;
}
.line-break {
  width: 100%;
}
.gridicon2 {
  padding-left: 0px !important;
}
.text-fix2 {
  padding-left: 0px !important;
}
.fix-font-2 {
  padding-left: 0px !important;
}
@media screen and (max-width: 1400px) and (min-width: 992px) {
  .img-logo {
    display: none;
  }
  .padding-pixel {
    padding-top: 0px !important;
  }
  .image-girl {
    display: none;
  }
  .combo-icon {
    display: none;
  }
  .tag {
    padding-top: 120px !important;
  }
  .girly {
    text-align: center;
    padding-left: 150px;
  }
  /* .image_ad {
      max-width: 390px;
      flex-direction: column;
    }
    .image_ad1 {
      max-width: 390px;
      flex-direction: column;
    } */
  .gallery {
    margin-top: 0;
    position: relative;
    z-index: 2;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    width: fit-content;
    width: -moz-fit-content;
  }
  .line-break {
    width: 100% !important;
  }
  .text-image {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 390px;
    font-family: "Poppins", sans-serif;
    margin-top: 0px;
  }
  .image_ad {
    display: flex;
    flex-direction: row !important;
  }
  .image_ad :nth-child(1) {
    order: 1;
  }
  .image_ad :nth-child(2) {
    order: 2;
  }
  .image_ad :nth-child(3) {
    order: 4;
  }
  .image_ad :nth-child(4) {
    order: 4;
  }
  .image_ad :nth-child(5) {
    order: 3;
  }
  .image_ad :nth-child(6) {
    order: 5;
  }
  .image_ad :nth-child(7) {
    order: 7;
  }
  .brand {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 150px;
  }
  .brand img {
    padding-top: 30px;
  }
  .combo-icon {
    display: none !important;
  }
  .fix-pic1 {
    margin-top: 0px !important;
  }
  .fix-pic2 {
    margin-left: 19px ;
  }
  .fix-pic3 {
    margin-top: 0px !important;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .dumbblell {
    padding-top: 200px;
  }
  .image-girl {
    display: none;
  }
  .girly {
    text-align: center;
    /* padding-left: 40px; */
  }
  /* .image_ad {
      max-width: 390px;
      flex-direction: column;
    }
    .image_ad1 {
      max-width: 390px;
      flex-direction: column;
    } */
  .gallery {
    margin-top: 0;
    position: relative;
    z-index: 2;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    width: fit-content;
    width: -moz-fit-content;
  }
  .text-image {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 390px;
    min-height: 250px;
    font-family: "Poppins", sans-serif;
  }
  .image_ad {
    display: flex;
    flex-direction: row !important;
  }
  .image_ad :nth-child(1) {
    order: 1;
  }
  .image_ad :nth-child(2) {
    order: 2;
  }
  .image_ad :nth-child(3) {
    order: 6;
  }
  .image_ad :nth-child(4) {
    order: 4;
  }
  .image_ad :nth-child(5) {
    order: 5;
  }
  .image_ad :nth-child(6) {
    order: 3;
  }
  .image_ad :nth-child(7) {
    order: 7;
  }
  .brand {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 150px;
  }
  .img-logo {
    display: none;
  }
  .px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .nav-bar {
    justify-content: space-around !important;
  }
  .combo-icon {
    display: none !important;
  }
  .blog {
    text-align: center !important;
  }
  .portfolio {
    text-align: center !important;
  }
  .brand img {
    padding-top: 30px;
  }
  .text-image {
    margin-top: 0;
  }
  .gridicon1 {
    padding-left: 13px;
  }
  .fix-font-1 {
    padding-left: 13px;
  }
  .text-fix {
    padding-left: 25px;
  }
  .fix-pic2 {
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  .image-girl {
    display: none;
  }
  .combo-icon {
    display: none !important;
  }
  .text-image {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 390px;
    min-height: 250px;
    font-family: "Poppins", sans-serif;
  }
  .brand {
    flex-wrap: wrap;
    padding-left: 70px;
    margin-top: 20px;
  }
  .brand img {
    padding-top: 30px;
  }
  .product-tive1 {
    padding-left: 120px;
  }
  .text-image {
    margin-top: 0;
  }
}
@media (max-width: 575px) {
  .combo-icon {
    display: none !important;
  }
  .nav-logo {
    width: 70%;
  }
  .image-girl {
    display: none;
  }
  .text-image {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 390px;
    min-height: 250px;
    font-family: "Poppins", sans-serif;
  }
  .brand {
    flex-wrap: wrap;
    padding-left: 50px;
    margin-top: 20px;
  }
  .brand img {
    padding-top: 30px;
  }
  .product-tive1 {
    padding-left: 50px !important;
  }
  .tag a {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 18px !important;
    font-weight: 600;
  }
  .text-image {
    margin-top: 0;
  }
  .fix-pic1 {
    padding-left: 0px !important;
  }
  .fix-pic3 {
    padding-left: 0px !important;
  }
  .navbar {
    flex-wrap: nowrap !important;
  }
  .custom-toggler.navbar-toggler {
    margin-left: 20px;
  }
  .brand-img {
    padding-left: 30px;
  }
  .dumbblell {
    padding-left: 20px !important;
  }
  .best_body {
    padding-left: 20px !important;
  }
  .text {
    padding-left: 20px !important;
  }
  .slick-slide slick-current slick-active {
    padding-top: 50px;
  }
}
/*# sourceMappingURL=style.css.map */